/* ---------------------------------------- settings.css ---------------------------------------- */

#yo-settings {
  background: white;
  padding: 10px;
}

.yo-wrap {
  width: 48%;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}

.yo-wrap-preview {
  max-width: 600px;
}

.yo-wrap-footer {
  border-top: 1px solid #dddddd;
  padding-top: 30px;
}

.yo-preview {
  padding: 20px;
  border: 1px solid #dddddd;
  font-size: 15px;
  margin: 0;
}

.yo-preview p {
  font-size: 14px;
  text-align: justify;
  color: #7c7c7c;
  line-height: 1.5;
  margin: 1em 0;
}

.yo-preview .yo-img-container {
  text-align: center;
}

.yo-wrap img {
  width: 100%;
  max-width: 600px;
}

/* ----------------------------------------- editor.css ----------------------------------------- */

i.yonderbound-icon, i.mce-i-yonderbound-icon {
    background-image: url('logo-plugin.png');
}

#search-input {
  width: 100%;
  padding: 4px;
}

#yo-href {
  width: 100%;
  padding: 4px;
}

.algolia-autocomplete {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  display: block !important;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  padding: 5px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background: #0097cf;
  color: #fff;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

/* -------------- mostly inspired by (c) Copyright Twitter Bootstrap media objects -------------- */
.yo-sugg {
  margin-top: 15px;
}

.yo-sugg:first-child {
  margin-top: 0;
}

.yo-sugg,
.yo-sugg-body {
  overflow: hidden;
  zoom: 1;
}
.yo-sugg-body {
  width: 10000px;
  margin-left: 4px;
}
.yo-sugg-left,
.yo-sugg-body {
  display: table-cell;
  vertical-align: top;
}
.yo-sugg-object {
  display: block;
}

.yo-sugg-left {
  padding-right: 10px;
}
